{% extends "auth/base.html" %}

{% block content %}

{% if request.GET.password_reset_sent and request.GET.password_reset_sent == 'True' %}
        <p class="h2">Password Reset Sent</p>
        <p>A password reset link has been sent to your email address and is valid for only 10 minutes.</p>
        <p>If you don’t find the email in your inbox, check your spam folder.</p>
        <p>Didn't receive email? <a href="{% url 'forgot_password' %}?email={{request.GET.email|default:""}}">Try again</a></p>
{% else %}
    <p class="h2">Reset Password</p>
    <p>Enter the email address associated with your account.</p>
    <div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" id="email" value="{{request.GET.email}}" placeholder="Enter email" name="email" required>
        </div>
        <p>Remember your password? <a href="{% url 'login_user' %}">Login</a></p>
        <button type="submit" class="btn btn-primary w-100">Send</button>
    </form>
    </div>
{% endif %}

{% endblock content %}